/* === GÉNÉRAL === */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur de la navbar fixe */
  }
  
  .main-content {
    flex: 1; /* Permet d'occuper tout l'espace disponible */
  }

